.container
{
    width:100%;
    padding:0px;
}

div.picker
{
    float:left;
}

select
{
    height:40px;
}

input
{
    height:40px;
}

.picker
{
    border-width:0px;
    border-style:solid;
    border-color:aqua;
}

.picker:hover
{
    color:brown;
}

.submitButton
{
    width:100px;
    background-color:palevioletred;
    transition: background-color 1s ease;
    height:40px;
    color:white;
    border-color:lightcoral;
}

.submitButton:hover
{
    background-color:red;
}